@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light-foreground: #18181b;
  --color-light-foreground-muted: #717173;
  --color-light-background: #fff;
  --color-light-background-layer: #f8f8f8;
  --color-light-border: #d1d1d1;
  --color-light-primary: #422ad5;
  --color-light-secondary: #f43098;
  --color-light-success: #00bf83;
  --color-light-warning: #e5a600;
  --color-light-error: #eb5971;

  --color-dark-foreground: #ecf9ff;
  --color-dark-foreground-muted: oklch(97.807% .029 256.847);
  --color-dark-background: #1d232a;
  --color-dark-background-layer: #191e24;
  --color-dark-border: #2a3038;
  --color-dark-primary: #605dff;
  --color-dark-secondary: #f43098;
  --color-dark-success: #00bf83;
  --color-dark-warning: #e5a600;
  --color-dark-error: #eb5971;

  --font-sans: "Geist";
  --font-mono: "Geist Mono";
}

